<%= render "layouts/errors", :object => @week %>

<%= form_for @week, remote: true do |f| %>
  <div class="form-group">
    <%=f.label :date %>
    <%= date_field(:week, :date) %>
  </div>
  <%= f.submit :class => "btn btn-primary yeehaw"  %>
<% end %>
