<h1>Change week</h1>

<% if @week.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @week.errors.full_messages.each do |week| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @week do |f| %>
  <%=f.label :date %>
  <%= date_field(:week, :date) %>
  <%= f.submit  %>
<% end %>
