<% content_for(:title, "Health Checklists For Your Week") %>


  <h2 class="sub-header"><%= @week.date %></h2>
  <div class="table-responsive">
    <table class="table table-striped" id='week_physical_tasks'>
      <thead>
        <tr>
          <th>#</th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>

<% @week.physical_tasks.each do |physical_task| %>
<tr>

          <td><%= physical_task.description %> <%= link_to "Edit", edit_week_physical_task_path(@week, physical_task), id: "edit_physical_task_btn",:class => "btn btn-default", remote: true %>
        <%= link_to "Delete", week_physical_task_path(@week, physical_task),
                                 :data => {:confirm => "Are you sure?",
                                 :method => "delete"},
                                 :class => "btn btn-danger" %>
            </td>




<% end %>

        </tr>




    </table>

  </div>

  <p><%= link_to "Add a daily physical task/goal", new_week_physical_task_path(@week), id:"new_physical_task_link", :class => "btn btn-default", remote: true %></p>
  <p><%= link_to "Edit (change the date of this week)", edit_week_path(@week) %></p>
  <p><%= link_to "Delete this entire week", week_path(@week),
                           :data => {:confirm => "You sure?",
                                     :method => "delete",
                                     :class => "btn btn-danger"}
                                      %></p>

  <p><%= link_to "Return to weeks", weeks_path %></p>

  <h3>Send yourself a text with a reminder about your self-care lists</h3>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.id, message_path(message)%></li>
    <% end %>
</ul>

<%= link_to "New message", new_week_message_path(@week) %>

<ul>
  <%%>
</ul>
